@import "./variables";
@import "./style";

.equipment-intro {
  text-align: justify;

  @include ulist;
}

@mixin post {
  margin: 3rem 0;
  padding: 1rem;
  background-image: linear-gradient(45deg, #fff, #f6f6f6);
  box-shadow: 0 0 4px #ccc;
}

.equipment-item {
  @include post;

  .equipment-title {
    margin-bottom: 1.5rem;
    text-decoration: underline solid $primary;
  }

  .equipment-image-box {
    float: right;
    max-width: 60%;
    position: relative;
    left: 2rem;
    box-shadow: 4px 4px 6px #bbbb;
    border-radius: 0.3rem;
    margin-bottom: 1rem;

    img {
      border-radius: 0.3rem;
    }
  }

  .equipment-text {
    text-align: justify;

    ul {
      padding-left: 1rem;
      list-style: none;

      li {
        margin: 0.5rem 0;
      }

      li::before {
        content: "✓";
        color: $primary;
        font-size: 1.2rem;
        display: inline-block;
        width: 1.2rem;
        margin-left: -1.2rem;
      }
    }
  }
}

// tablet
@media screen and (max-width: $tablet-width) {
  .equipment-item .equipment-image-box {
    left: 0;
    margin-left: 1rem;
  }
}

// phone
@media screen and (max-width: $phone-width) {
  .equipment-item .equipment-image-box {
    float: unset;
    max-width: unset;
    margin-left: 0;
    margin-bottom: 1.5rem;
  }
}
