@import "./variables";

.guidelines-doc {
  text-align: justify;

  strong {
    text-decoration: underline solid #ffc453 1px;
  }

  ol {
    padding-left: 1rem;

    li {
      padding: 0.5rem 0;
    }
  }
}
