@import "./variables";
@import "./style";

.guidelines-doc {
  text-align: justify;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;
  }

  strong {
    -webkit-text-decoration: underline solid #ffc453;
    text-decoration: underline solid #ffc453 1px;
  }

  ol {
    padding-left: 1rem;

    li {
      padding: 0.5rem 0;
    }
  }

  @include ulist;
}
