@import "./variables";

#page-header {
  background-color: #fff;
  z-index: 100;
  width: 100vw;
  box-shadow: 0 0 0.4rem $secondary;
  transition: transform 0.2s ease-in;
  height: 4.5rem;
  position: fixed;
  top: -4.5rem;
  display: flex;
  background-image: linear-gradient(to bottom, #fff, #f6ffff);
}

.page-header-down {
  transform: translateY(4.5rem);
}

.header-hamburger {
  display: none;
  border: none;
  background-color: #0000;
  margin: 1rem;
  padding: 0.8rem;

  .anticon svg {
    width: 20px;
    height: 20px;
  }
}

.header-logo {
  width: 4.5rem;
  margin: 0 1rem;

  img {
    height: 100%;
  }
}

.header-title {
  margin: 1.5rem 0;
}

.header-slash {
  margin: 1.5rem 1rem;
  color: #808080;
}

.header-subtitle {
  margin: 1.5rem 0;
  color: #808080;
}

.header-filler {
  height: 4.5rem;
}

.header-filler-hide {
  height: 0;
}

.ant-page-header-heading-title {
  margin-left: 1rem;
  margin-right: 6px;
}

.ant-page-header-heading-sub-title {
  font-size: 20px;
}

// tablet
@media screen and (max-width: $tablet-width) {
  #page-header {
    top: 0;
  }

  .page-header-down {
    transform: unset;
  }

  .header-filler-hide {
    height: 4.5rem;
  }

  .header-hamburger {
    display: block;
    position: absolute;
    right: 0;
  }
}

// phone
@media screen and (max-width: $phone-width) {
  .header-slash {
    display: none;
  }

  .header-subtitle {
    display: none;
  }
}
