@import "./style";
@import "./variables";

.news-entry {
  padding: 1rem 0;
}

.news-image {
  width: 40%;
}

.news-title-box {
  .news-title {
    float: left;
  }

  .news-date {
    float: right;
  }
}
