@import "./style";
@import "./variables";

.news-entry {
  h1 {
    font-size: 1.4rem;
  }
}

.news-image {
  width: 40%;
  border-radius: 6px;

  picture {
    border-radius: 6px;
  }
}

.news-text {
  text-align: justify;
  font-size: 1rem;
}

// phone
@media screen and (max-width: $phone-width) {
  .news-image {
    width: 100%;
  }
}
