@import "./style";
@import "./variables";

.news-entry {
  h3 {
    margin-bottom: 1.5rem;
    text-decoration: underline solid $primary;
  }

  margin: 4rem 0;
  padding: 1rem;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px #808080;
}

.news-image {
  width: 50%;
  border-radius: 6px;
  position: relative;
  left: -2rem;
  box-shadow: 0 0 5px;

  picture {
    border-radius: 6px;
  }
}

.news-text {
  text-align: justify;
  font-size: 1rem;
}

// phone
@media screen and (max-width: $phone-width) {
  .news-image {
    width: 100%;
  }
}
