@import "./variables";

.partner-logo {
  margin: 0 0 1rem 4rem;
  max-width: 12rem;
  float: right;
}

@mixin ulist {
  ul {
    list-style: circle;
    padding-left: 1rem;

    li {
      padding: 0.3rem 0;
    }
  }
}

.events-box {
  @include ulist;
}

.partner-box {
  margin: 4rem 0;

  h1 {
    margin-bottom: 1.8rem;
    text-decoration: underline 1px $primary;
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .partner-content {
    @include ulist;

    ul {
      margin-bottom: 0;
    }

    strong {
      a {
        color: black;
        text-decoration: underline 1px $primary;
      }
    }
  }
}

// phone
@media screen and (max-width: $phone-width) {
  .partner-logo {
    width: 40%;
    margin: 0 0 1rem 1rem;
  }

  .partner-content {
    text-align: justify;
  }
}
