@import "./variables";

#site-trunk {
  padding: 2rem 10%;
  max-width: 100rem;
}

#sider {
  border-right: 1px solid #f0f0f0;
  z-index: 5;
}

#navbar {
  width: 300px;
  height: calc(100vh - 5.5rem);
  position: sticky;
  top: 4.5rem;
}

.dark-layer {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #0005;
  transition: opacity 0.5s ease;
  opacity: 0;
  z-index: 4;
}

.dark-layer-show {
  opacity: 0;
}

// tablet
@media screen and (max-width: $tablet-width) {
  #sider {
    position: fixed;
    top: 0;
    height: 100vh;
  }

  #navbar {
    position: fixed;
  }

  #site-trunk {
    width: 100%;
    padding: 2rem 1rem;
  }

  .sider-closed {
    transform: translateX(-300px);
  }

  .dark-layer-show {
    opacity: 1;
    transform: translateX(100%);
  }
}

// phone
@media screen and (max-width: $phone-width) {
  #site-trunk {
    padding: 2rem 0.5rem;
  }
}
