@import "./variables";

.tutorial-entry {
  padding: 2rem 0;
}

.tutorial-entry-video {
  width: 100%;
  height: 32vw;
  width: 100%;
  height: 32vw;
  border-radius: 6px;
  box-shadow: 0 0 6px $secondary;
}

// tablet
@media screen and (max-width: $tablet-width) {
  .tutorial-entry-video {
    height: 50vw;
  }
}
